/*custom*/
body {
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

header {
  width:100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:100px;
  cursor: pointer;
  height: 100vh;
}
h1 {
  color: #444440;
  font-size:45px;
  margin-bottom:17px;
}
h2 {
  text-transform: uppercase;
  padding-left: 10px;
  font-size: 20px;
  color: #444440;
}

h3 {
  font-size: 15px;
}
h3 span, h2 span {
  font-weight: normal;
  margin-left: 5px;
  font-size: 12px;
}

h4 {
  font-size: 13px;
  margin-top: 0px;
}

h3,
h4 {
  color: #444440;
}

div {
  flex-direction: row;
}


p {
  margin-left: 0;
}

ul,
p {
  line-height: 2;
  font-size: 12px;
}
svg {
  fill:lightslategray;
}

a,a:link, a:visited {
  text-decoration: none;
  font-weight: bold;
  color: lightslategray;
}

a:hover,
a:focus {
  color: #444440;
}


a:hover .icons * {
  fill: #444440;
}

.link {
  list-style-type: none;
}
.my-photo {
  width: 210px;
  height: 210px;
  border-radius: 50%;
}
.icons {
  width:20px;
  vertical-align: sub;
  margin-right:5px;
}
.icons * {
  transition: all 250ms;
}



/*content*/
.personal p {
  line-height: 3.5em;
}

.hobby ul {
  margin-top: 0;
}

.arrow {
  font-size: 30px;
}

.university {
  margin-top:15px;
}
.swipe {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 14px;
}

.about {
width:100%;
max-width: 450px;
padding:15px;
padding-top:0;
margin-top:0;
}
.general {
  margin-top:25px;
  display: flex;
  flex-wrap: wrap;
  border-left: 8px solid #444440;
  justify-content: space-between;
  padding: 0 50px;
  margin-bottom: 30px;
}

.first {
  display: flex;
  flex-direction: column;
}
.pre-arrow {
  font-size:30px;
}
.addressed {
  margin-bottom:0;
}


#content {
  margin-left:15px;
}

.pre-swipe {
  font-family: 'Nothing You Could Do', cursive;
  font-size:12px;
}
.second {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.courses {
  margin-bottom: 0px;
}

.courses ul {
  margin-top: 0;
}

.courses h2 {
  margin-bottom: 5px;
}

.general ul {
  padding-left: 0;
}

.pre-footer {
  width:100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-bottom:30px;
}

/*footer*/

footer {
  float: right;
}
footer p {
  padding-right:15px;
}

/*responsive*/

@media screen and (max-width:768px) {
  .second {
    margin-left: 0;
  }
  h1 {
    align-items: center;
  }
  header {
    justify-content: center;
  }
  img {
    margin-left: 0px;
  }
}

@media screen and (max-width:520px) {
  header {
    flex-wrap: wrap;
    margin-top:30px;
  }
  h1 {
    font-size:30px;
  }
}

